[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
sentry-sdk = "*"
oracledb = "*"
bs4 = "*"
lxml = "*"
python-dateutil = "*"

[dev-packages]
bandit = "*"
black = "*"
coverage = "*"
coveralls = "*"
mypy = "*"
pylama = {extras = ["all"], version = "*"}
pytest = "*"
freezegun = "*"

[requires]
python_version = "3.11"

[scripts]
patronload = "python -c \"from patronload.cli import main; main()\""
