[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
sentry-sdk = "*"
oracledb = "*"
bs4 = "*"
lxml = "*"
python-dateutil = "*"
boto3 = "*"
boto3-stubs = {extras = ["essential"], version = "*"}

[dev-packages]
bandit = "*"
black = "*"
coverage = "*"
coveralls = "*"
mypy = "*"
pylama = {extras = ["all"], version = "*"}
pytest = "*"
freezegun = "*"
types-python-dateutil = "*"
types-beautifulsoup4 = "*"
moto = {extras = ["s3", "ses"], version = "*"}

[requires]
python_version = "3.11"

[scripts]
patronload = "python -c \"from patronload.cli import main; main()\""
