[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
boto3-stubs = {extras = ["essential"], version = "*"}
bs4 = "*"
click = "*"
lxml = "*"
oracledb = "*"
python-dateutil = "*"
sentry-sdk = "*"

[dev-packages]
black = "*"
coverage = "*"
coveralls = "*"
freezegun = "*"
moto = {extras = ["s3", "ses"], version = "*"}
mypy = "*"
pre-commit = "*"
pytest = "*"
ruff = "*"
safety = "*"
types-beautifulsoup4 = "*"
types-python-dateutil = "*"

[requires]
python_version = "3.11"

[scripts]
patronload = "python -c \"from patronload.cli import main; main()\""
